html, body {
	margin: 0;
	padding: 0; 
	min-width: 100%;
	min-height: 100%;
}

body {
	display: flex;
}

.col {
	overflow: auto;
	max-height: 84vh;
	width: 100%;
	border-style: solid;
	border-width: 2px;
	border-radius: 20px;
}
